<div class="homepage">
    <div class="welcome-container">
        <h1>Welcome to the Ultimate Quiz App</h1>
        <p>Test your knowledge and have fun!</p>
        <button class="start-quiz-btn">Start Quiz</button>
    </div>
</div>